@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Autor: @ViewData["Autor"]</p>

<address>
    <strong>Contato: </strong> <a href="https://www.linkedin.com/in/diovanni-caponi/">Linkedin</a>
                               <a href="https://github.com/diocaponi">Github</a>
</address>
